:root {
    --brand-color: #2196F3;
    --second-color:#757575;
    --main-color:#212121;
    --white-color:#FFFFFF; 
    --grey-color:#AFB1B8;
}
body{
    font-family:'Roboto','Raleway',sans-serif;
    position: relative;
    color: var(--main-color);
    font-size: 14px;
} 











