.button{
    background: #F5F4FA;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: var(--white-color);
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
.current-button{
    background-color: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color) ;
}
.order-services{
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    margin: 0px auto;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color);
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 32px 10px 32px ;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: #188CE8;
}
}
.send_button{
    padding: 10px 55px 10px 55px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    border-color: var(--brand-color);
}
.button_join_down{
    align-items: center;
    padding: 10px 30px 10px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    fill: var(--white-color);
    color: var(--white-color);
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.portfolio-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    & li + li{
        margin-left: 8px;
    }
}
.bottom-link{
    padding: 0px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFFFFF1A;
    fill: var(--white-color);
    transition-property: background-color,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color:#2196F3;
    fill: var(--white-color);
}
}
.close{
    position: absolute;
    right: 8px;
    top: 8px;
    box-shadow: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 0px;
    padding: 0px;
    box-shadow: none;
    border: 1px solid gray;
    background-color: var(--white-color);
    &:hover{
        border-radius: 50%;
        box-shadow: none;
        background-color: var(--white-color);
        border: 1px solid gray;
        color: var(--brand-color);
    }
}
