.work-img{
    display: flex;
    padding-left: 0px ;
    margin-top: 0px;

& li + li{
    margin-left: 30px;
}
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.image{
    position: relative;
}