h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 0px;
}
.about-us > h3{
    font-size: 14px;
    line-height: 1.1;
}
.about-us > p{
    color: var(--second-color);
    font-size:14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-size: 36px;
    line-height: 1.2;
}
.team > div > h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    margin-top: 0px;
    margin-bottom: 10px;
}
.team > div > p{
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
.topick{
    text-transform: uppercase;
    margin: 0px 0px 10px 0px ;
}
.join{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}