.relative{
    position: relative;
}
.display{
    display: flex;
}
.p{
    display: none;
}
nav{
    display: flex;
}
.toplink{
    display: flex;
}
.all-clients{
    display: flex;
}
.flex{
    display: flex;
}
.bottomjoin{
    display: flex;
    
}
.dopdiv{
    display: flex;
}
.conteiner{
    width: 1200px;
    margin-right: 200px;
    margin-left: 200px;
}

ul{
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.div{
    display: flex;
    padding-top: 94px;
}
.dopsection{
    padding-left: 70px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0px ;
}
.div > .conteiner > .about-ul > li + li {
    margin-left: 30px;
}
.div > div .about-ul{
    display: flex;
}
.ulteam{
    display: flex;
    width: 1170px;
    padding-left: 0px ;
}
.footer-ul{
    padding: 0px;
    margin-top: 20px;
}
.topli{
    margin-left: 50px ;
}
.footer-ul .footer-li + .footer-li{
    margin-top: 10px ;
}
header{
    border-bottom: 1px solid #ECECEC;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.h1{
    background-image: url(../images/17.jpg);
    padding: 190px 0px;
}
footer{
    background: #2F303A;
    padding-bottom: 60px ;
    padding-top: 60px;
    padding-right: 0px ;
}
.teamtopick{
    text-align: center;
    padding-bottom: 50px ;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio > div{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}